


  <div class="login">
    

      <div class="login-image">
        <img src="https://media.istockphoto.com/id/468512176/photo/shes-made-it.jpg?s=170667a&w=0&k=20&c=IAB5Iu1OuhDgSw5_mXSOUP7p4dqTKSx1EDQDztT4jag=">

        <div class="text">
          <h2>Budget</h2>
        </div>
    </div>



    <div class="login-form">
      <h1>Login to Budget</h1>
      <p>welcome to our page explore</p>
      <form class="form-contents">
          <div>
            <label for="exampleInputEmail1" class="form-label"></label>
            <input type="email" class="form-control " id="exampleInputEmail1" placeholder="Email" aria-describedby="emailHelp">
            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"></label>
            <input type="password" class="form-control" placeholder="password" id="exampleInputPassword1">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label small" for="exampleCheck1">Keep in Logged me</label>
            <p class="small">forgot Password?</p>
          </div>
          <a type="submit" class="btn btn-primary w-100"  routerLink="dashboard">login</a>
         
          <p class="text-center small">Create New Account?</p>

          <div class="form-text">
            <p>Having Trouble? Get Help</p>
          </div>
        </form>
  </div>
   
</div>









